datafactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "RE notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/dheerajjc34@gmail.com/Real Estate DE"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "RE notebook",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "processed_data",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:00:30",
					"sleep": 10
				}
			},
			{
				"name": "Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Success",
					"value": "Success"
				}
			},
			{
				"name": "Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Success",
					"value": "Failed"
				}
			},
			{
				"name": "Success mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Success",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-20.eastus.logic.azure.com:443/workflows/bae053c48ac94db28155f7e36b7afc8b/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=oJYYK-YvwO7nvykKMBSOd1DLDKzLa5zJKZpOSTITQcM",
					"body": {
						"value": "{\n    \"message\" : \"Result is a variables('Success') from your pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			},
			"receiver": {
				"type": "string",
				"defaultValue": "jayachandradheeraj@gmail.com"
			}
		},
		"variables": {
			"Success": {
				"type": "String"
			},
			"Failure": {
				"type": "String"
			}
		},
		"annotations": []
	}
}